<!DOCTYPE html>
<html lang="en">
   <head>
            <title>Saifur</title>
            <meta charset="utf-8"/>
            {% load staticfiles %}
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
            <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
            <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

    </head>

    <body>
        <header>
            <div class="container">
                <div class="col-md-6 col-md-offset-3">
                     <div class="heading text-center">
                        <h1>Saifur's Blog</h1>
                        <h3>Python lover from Bangladesh</h3>
                     </div>

                    <nav class="navbar navbar-default">
                  
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="#"></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <ul class="nav navbar-nav">

                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">LinkedIn</a></li>
                            <li><a href="#">Github</a></li>
                            <li><a href="#">Facebook</a></li>
                            
                          </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>


                </div>
           
            </div><!-- /.container-fluid -->
            

        </header>

        <hr class="header_hr">

        <section id="blog"> 
               <div class='container'>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                           
                                {% block content %}

                                {% endblock %}
                            </div>
                            
                        </div>       
                    </div>
                    
                </div>
        </section> 
          

    </body>

</html>